<!DOCTYPE html>
<html>
<head>
    <title>Training Paused</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Session Paused</h1>
    <p>Your labeling progress has been saved. You can resume later from the Training Index page.</p>
    <a href="/training_index">
        <button>Back to Training Index</button>
    </a>

    <div class="page-footer">
        Developed by Haider Baig 2025
    </div>
</div>
</body>
</html>
